Reconciliation/Reconciliation.Controller.WS/Service References/RF_Resources/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Configuration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConnectionStringSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConfigurationElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConnectionStringSettings" nillable="true" type="tns:ConnectionStringSettings" />
  <xs:complexType name="ConfigurationElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="LockItem" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationElement" nillable="true" type="tns:ConfigurationElement" />
</xs:schema>